@import "compass/css3";

body {
  background: #ffffff;
  font-family: sans-serif;
}
.outer-label {
  font-size: 14px;
  fill: #696969;
  text-align: center;
}
.center {
  font-size: 18px;
  text-transform: uppercase;
  fill: #000;
}

path {
  cursor: pointer;
}

@-webkit-keyframes scale-up {
    from { @include transform(scale(0.95)); opacity: 0; }
    to { @include transform(scale(1)); opacity: 1; }
}
